*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --dark-color: rgb(50, 50, 50)
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}

button {
  font: inherit;
  
  border-radius: 10px;
  border: 1px solid rgb(50, 50, 50);
  color: inherit;
}

button:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(22, 21, 36);
    color: rgb(240, 240, 240);
  }
  
  button {
    color: rgb(50, 50, 50);
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(198, 195, 250);
  }
}

.number {
  font-size: 50px;
  margin: 0.25em;
}

.plain-notation-number {
  margin-top: 0.25em;
  overflow-wrap: break-word;
}

.control-panel-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 10em
}

@media screen and (max-width: 1248px) {
  .control-panel-buttons {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5em
  }
}

@media screen and (max-width: 1248px) {
  .control-panel-buttons {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5em
  }
}

.control-panel-buttons button {
  margin: 1em;
  font-size: 1.3em;
  padding: 1.4em;
  cursor: pointer;
}