body {
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}

.number {
  font-size: 50px;
  margin: 0.25em;
}

.plain-notation-number {
  margin-top: 0.25em;
  overflow-wrap: break-word;
}

.control-panel-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 10em;
}

.control-panel-buttons button {
  margin: 1em;
  font-size: 15px;
  padding: 1.75em;
  cursor: pointer;
}