*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}

.number {
  font-size: 50px;
  margin: 0.25em;
}

.plain-notation-number {
  margin-top: 0.25em;
  overflow-wrap: break-word;
}

.control-panel-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 10em
}

@media (max-width: 1200px) {
  .control-panel-buttons {
    grid-template-columns: repeat(3, 1fr);
  }
}

.control-panel-buttons button {
  margin: 1em;
  font-size: 1.3em;
  padding: 1.4em;
  cursor: pointer;
}