*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --dark-color: rgb(50, 50, 50);
  --bg-color: rgb(235, 235, 235, 80%);
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}

button {
  font: inherit;
  
  border-radius: 10px;
  border: 1px solid var(--dark-color);
  
  background: var(--bg-color);
  color: inherit;
}

button:hover {
  background: rgb(220, 220, 220, 80%);
  cursor: pointer;
}

button:active {
  background: rgb(210, 210, 210, 80%)
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(22, 21, 36);
    color: rgb(240, 240, 240);
  }
  
  button {
    color: rgb(50, 50, 50);
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(198, 195, 250);
  }
}

.number {
  font-size: 50px;
  margin: 0.25em;
}

.plain-notation-number {
  margin-top: 0.25em;
  overflow-wrap: break-word;
}

.calculator {
  display: grid;
  padding: 0 10em;
  column-gap: 1em;
  row-gap: 1em;
}

.calculator button {
  font-size: 2em;
  padding: 1em;
}

.calculator .number-button:nth-child(3n+1) {
  grid-column: 1;
}

.calculator .number-button:nth-child(3n+2) {
  grid-column: 2;
}

.calculator .number-button:nth-child(3n+3) {
  grid-column: 3;
}

/*
.calculator .number-button:nth-child(4n+4) {
  grid-column: 4;
}*/

.calculator .action-button {
  grid-column: 4;
  grid-row: 1;
}

@media screen and (max-width: 1248px) {
  .control-panel-buttons {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5em
  }
}

@media screen and (max-width: 775px) {
  .control-panel-buttons {
    padding: 0 3em
  }
  
  .control-panel-buttons button {
    font-size: 1em;
  }
}